/* Social Media Section */
#social-media {
  background: #ffffff;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f9a7f6;
  border-radius: 0.5rem;
}
